language: python
sudo: false
git:
  depth: 1

branches:
  only:
    - master

matrix:
  include:
  - python: 2.7
    env: TOXENV=py27
  - python: 3.5
    env: TOXENV=py35

before_install:
  - travis_retry pip install -U pip setuptools wheel tox
script:
  - travis_wait tox -e "${TOXENV}"
